/****************************************************************Цвета******************************************************************/

//Переменные для цвета
$COLOR_RED: rgb(255, 0, 0);
$COLOR_GREEN: rgb(0, 255, 0);
$COLOR_BLUE: rgb(0, 0, 255);
$COLOR_YELLOW: rgb(255, 255, 0);
$COLOR_PINK: rgb(255, 0, 255);
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_BLACK: rgb(0, 0, 0);
$BACKGROUND_COLOR_1: rgb(79, 78, 78);
// $BACKGROUND_COLOR_2:;
// $BACKGROUND_COLOR_3:;
$CUSTOM_COLOR_SWIPER_ARROW: rgba(234, 232, 232, 0.105);
$CUSTOM_COLOR_SWIPER_ARROW_HOVER: rgb(136, 136, 136);
$CUSTOM_COLOR_BUTTON_STANDARD_DEFAULT: rgb(186, 255, 254);
$CUSTOM_COLOR_BUTTON_STANDARD_ACTIVE: rgb(91, 91, 254);
$CUSTOM_COLOR_BUTTON_STANDARD_HOVER: rgb(182, 182, 255);
// $CUSTOM_COLOR_6:;
// $CUSTOM_COLOR_7:;
// $CUSTOM_COLOR_8:;
// $CUSTOM_COLOR_9:;
/******************************Миксины и переменные*************************************************************************************************************************************************/

//Заголовки и текст
// Миксины - шрифт
@mixin fontz($fz, $fw, $col) {
	font-size: $fz;
	font-weight: $fw;
	color: $col;
}

/**************************************************************************************************************************************/
